.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background-color: var(--color-bg-variant);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  position: relative;
  padding-bottom: 5rem;
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
  backdrop-filter: blur(2px);
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item-image img {
  aspect-ratio: 1/1;
}

.portfolio__item h3 {
  margin: 0.5rem 0;
}

.portfolio__item-cta {
  position: absolute;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-self: end;
  bottom: 0.25rem;
  right: 1rem;
}

.description {
  padding: 1rem 0 0;
}

.description h5 {
  font-weight: bolder;
  font-size: 1rem;
  color: var(--color-primary);
}

.tech__used {
  padding: 1rem 0;
}

.tech__used h5 {
  font-weight: bolder;
  font-size: 1rem;
  color: var(--color-primary);
}

/* Media queries medium sizes */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* Media queries small sizes */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
