nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.5rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 1rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  width: fit-content;
  padding: 0.6rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.2rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color-bg);
  color: var(--color-white);
}

.nav__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
}

.nav__group small {
  font-size: 0.65rem;
}

@media screen and (max-width: 1024px) {
  .nav__group small {
    font-size: 0.6rem;
  }

  nav a{
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 600px) {
  nav {
    padding: 0.65rem;
  }
  nav a{
    font-size: 1rem;
    padding: 0.65rem;
  }
  .nav__group small {
    /* display: none; */
    font-size: .5rem;
  }
}
